body {
    font-family: "Poppins", sans-serif;
}

.navbar {
    border-bottom: solid 1px;
    margin-top: 10px;
}
.navbar-nav {
    font-size: 20px solid;
    font-family: poppins, sans-serif;
}

.nav-link {
    color: black;
}
/* resopnsive desktop*/
@media (max-width:992px){
    .hero-image img{
        max-width: 100%;
    }
}
/*untuk tablet*/
@media (max-width:560px){
    .logo-image img{
        margin-bottom: 60px;
    }
}
@media (max-width:355px){
    .logo-image img{
        margin-bottom: 100px;
    }
}
section h1 {
    text-align: center;
    padding: 20px 0;
    color: #7FD9EB;
    margin-bottom: 20px;
}
.about p {
    text-align: center;
    color: black;
    word-spacing: 2px;
    line-height: 25px;
}